/* 
The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Typography

### Body Copy

- Font size (paragraph): 16px

### Font

- Family: [Red Hat Display](https://fonts.google.com/specimen/Red+Hat+Display)
- Weights: 500, 700, 900 */

body {
    font-family: 'Red Hat Display', sans-serif;
    background-color: var(--pale-blue);
    background-image: url('./images/pattern-background-mobile.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 800px) {
    body {
        background-image: url('./images/pattern-background-desktop.svg');
        
    }
}

/* COLORS */

:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}


.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}



/* MAIN CONTAINER */

.main-container {
    height: 550px;
    width: 350px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    margin: 50px auto;
}

.fun-image {
    height: 175px;
    width: 350px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: url('./images/illustration-hero.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    font-weight: bold;
    color: var(--dark-blue);
}

.order-summary p {
    color: var(--desaturated-blue);
}

.annual-plan-section {
    height: 75px;
    width: 300px;
    background-color: var(--very-pale-blue);
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px auto;
}

#annual-plan-text {
    color: var(--dark-blue);
    font-weight: bold;
    margin: 10px 5px 2px 5px;
}

#annual-plan-price {
    color: var(--desaturated-blue);
    margin: 2px 5px 10px 5px;
}

#change:hover {
    cursor: pointer;
}

.payment-cancel-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#proceed-button {
    height: 50px;
    width: 300px;
    border: none;
    border-radius: 10px;
    background-color: var(--bright-blue);
    color: white;
    margin: 10px;
}

#proceed-button:hover {
    cursor: pointer;
}

#cancel {
    text-decoration: none;
    color: var(--desaturated-blue);
    font-weight: bold;
    margin: 10px;
}

#cancel:hover {
    cursor: pointer;
}

/* SEE HOVER STATES FOR INTERACTIVE ELEMENTS */